body{
    background-color: aliceblue;
}

.welcomearea{
    
}

.course-loading-parent{

    display: table-cell;
    vertical-align: middle;

}

.course-loading-inner{
    display: inline-block;
    height: 10px;
    width: 100%;
}

.event-date{
    float: right;
    font-style: italic;
}

.block-inside{
    padding: 0.75rem 1.25rem;
}

.block-inside i {
    margin-right: 0.5rem;
}

.avatar{
    border-radius: 50%;
}

.navbar .count-container {
    padding: 2px;
    border-radius: 2px;
    background-color: #ca3120;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    position: relative;
    bottom: 10px;
    right: 5px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lesson-done i{
    color:green;
}

.lesson-not i{
    color: gray;
}

.lesson-not, .lesson-not a{
    color: #666;
}

.lesson-active i{
    color: blue;
}

.lesson-active{
    background-color: #eee;
}

.lesson-active a, .lesson-done a{
    color: #111;
}